{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}

	<div class="apage span-24 last">
		<div class="ui-widget ui-widget-content ui-corner-all" style="padding: 15px;">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
    <form method="POST" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {{ password_reset_form|as_uni_form }}
             <div class = "form_block">
				<input type="submit" class="ui-button ui-corner-all ui-state-default ibutton" value="{% trans "Reset my password" %}" />
            </div>
        </fieldset>
    </form>
    
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
	</div></div>
{% endblock %}

{% block extra_body %}
    <script>
		$("input:text").addClass("ui-corner-all")
			.css({"font-size":"12px","padding":"5px", "font-family":"Courier"});
		$("input:password").addClass("ui-corner-all")
			.css({"font-size":"12px","padding":"5px", "font-family":"Courier"});
        $("#id_email").focus();
		$(".ui-button").hover(
			function(){
				$(this).removeClass("ui-state-default");
				$(this).addClass("ui-state-highlight");
			},
			function(){
				$(this).removeClass("ui-state-highlight");
				$(this).addClass("ui-state-default");
			}
		);
    </script>
{% endblock %}
