.term-cloud {
	font-family: 'Trebuchet MS', 'Arial Black', Helvetica, sans-serif;
	font-size: 11px; 
}
.term-cloud-1 {font-size: 11px; color: #4AA02C;}
.term-cloud-2 {font-size: 14px; color: #347C17;}
.term-cloud-3 {font-size: 18px; color: #348781;}
.term-cloud-4 {font-size: 22px; color: #FDD017;}
.term-cloud-5 {font-size: 26px; color: #F87431;}
.term-cloud-6 {font-size: 32px; color: #7E2217;}
.term-cloud-7 {font-size: 36px; color: #C11B17;}
.term-cloud-8 {font-size: 40px; color: #7D2252;}
.term-cloud-9 {font-size: 44px; color: #000000;}
.term-cloud-error {font-family: arial; font-size: 10px; color: red; }
.term-cloud-link {text-decoration: none; }
.term-cloud-link:hover {text-decoration: underline;}
